.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-area: footer;
  height: auto;
  background-color: rgb(36, 36, 36);
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 100%;
  grid-template-areas: "f-1 f-2 f-3";
  text-align: center;
}

.f-1 {
  display: grid;
  grid-area: f-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-2 {
  display: grid;
  grid-area: f-2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-3 {
  display: grid;
  grid-area: f-3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
.header {
  height: auto;
  display: grid;
  grid-area: header;
  margin: 0;
  padding: 20px;
  background-image: url("/src/pngtree-glowing-honeycomb-on-a-sinister-carbon-fiber-backdrop-image_13903506.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "h-logo h-redes";
}
.header .h-logo {
  display: grid;
  grid-area: h-logo;
}
.header .h-redes {
  display: grid;
  grid-area: h-redes;
  display: flex;
  justify-content: flex-end;
}
.header .img {
  width: 100%;
  height: 100%;
}

/* navbar */
.nav {
  display: grid;
  grid-area: nav;
  margin: 0;
  padding: 15px;
  width: 100%;
  height: auto;
  height: auto;
  display: flex;
  position: fixed;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "nav-logo nav-nav";
}

.nav-logo {
  display: grid;
  grid-area: nav-logo;
}

.nav-nav {
  display: grid;
  grid-area: nav-nav;
}

.ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 1.2rem;
}

.a:hover {
  transition: all 1s;
  font-size: 24px;
  color: white;
  text-decoration: underline;
}

html {
  background: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "roboto";
}

/* body grid */
.body {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: 100%;
  grid-template-rows: 800px 1fr 1fr;
  grid-template-areas: "header" "main" "footer";
  color: whitesmoke;
}

/* main */
.main {
  display: grid;
  grid-area: main;
  height: auto;
}
.main h1 {
  text-align: center;
  text-decoration: underline;
  font-style: bold;
}

/* seccion  */
section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* article y grid article*/
.articulo1 {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "title-article title-article" "img-article text-article";
  gap: 10px;
}
.articulo1 .title-article {
  display: grid;
  grid-area: title-article;
}
.articulo1 .img-article {
  display: grid;
  grid-area: img-article;
}
.articulo1 .img-article img {
  width: 100%;
}
.articulo1 .text-article {
  display: grid;
  grid-area: text-article;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.articulo2 {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "title-article title-article" "img-article text-article";
  gap: 10px;
}
.articulo2 .title-article {
  display: grid;
  grid-area: title-article;
}
.articulo2 .img-article {
  display: grid;
  grid-area: img-article;
}
.articulo2 .img-article img {
  width: 100%;
}
.articulo2 .text-article {
  display: grid;
  grid-area: text-article;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.articulo3 {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "title-article title-article" "img-article text-article";
  gap: 10px;
}
.articulo3 .title-article {
  display: grid;
  grid-area: title-article;
}
.articulo3 .img-article {
  display: grid;
  grid-area: img-article;
}
.articulo3 .img-article img {
  width: 100%;
}
.articulo3 .text-article {
  display: grid;
  grid-area: text-article;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.articulo4 {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "title-article title-article" "img-article text-article";
  gap: 10px;
}
.articulo4 .title-article {
  display: grid;
  grid-area: title-article;
}
.articulo4 .img-article {
  display: grid;
  grid-area: img-article;
}
.articulo4 .img-article img {
  width: 100%;
}
.articulo4 .text-article {
  display: grid;
  grid-area: text-article;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

/*# sourceMappingURL=main.css.map */
