
.miheader{
    display: flex;
    // background: rgb(163, 106, 0);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
 
    
    
}
.video{
    width: 100%;
    height: 650px;
    margin: 0;
    padding: 0;
    z-index: -1;
    object-fit: cover;
    position: relative;
    background-size: cover;
}
.cont-header{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    overflow: hidden;
    line-height: 8rem;
    margin-top: 50px;
   


    img{
        width: 30%;
        height: 30%;
    }
    img:hover{
        scale: (1.05);
        transition: all 0.5s;
    }
    span{
        display: block;
    }
    
    .text-cyclo{
        font-size: 9rem;
       color: #0e72b5;
       font-family: 'Zrnic', sans-serif;
    }

    .text-cyclo:hover{
        scale: (1.05);
        transition: all 0.5s;
    }
    .text-gestion{

       color: #f29400;
        font-size:7.5rem;
        font-family: 'Publica Play', sans-serif;
        font-weight: 100;
        margin-left: 80px;
       
       .text-gestion:hover{
        scale: (1.05);
        transition: all 0.5s;
       }
    }
    .text-evento{
      color: white;
    font-size: 10rem;
    font-family: "segoe script";
    margin-left: 25px;
    font-weight: 100;
    transform: rotate(-15deg);
 
    
    text-shadow: 
    0 0 5px whitesmoke, 
    0 0 10px whitesmoke, 
    0 0 20px whitesmoke,  
    0 0 40px whitesmoke,   
    0 0 80px whitesmoke;
  animation: neon-flicker 1.5s infinite alternate;



  @keyframes neon-flicker {
    0%, 100% {
      text-shadow: 
        0 0 5px whitesmoke, 
        0 0 10px whitesmoke, 
        0 0 20px whitesmoke,       
        0 0 40px whitesmoke,        
        0 0 80px whitesmoke;
    }
    50% {
      text-shadow: 
        0 0 2px whitesmoke, 
        0 0 5px whitesmoke, 
        0 0 10px whitesmoke,       
        0 0 20px whitesmoke, 
        0 0 40px whitesmoke;
    }
  }
    }
}

.text-evento:hover{

    scale: (1.05);
    transition: all 0.5s;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Color semitransparente */
    z-index: 0; /* Sobre el video */
}

